/* Fonts */
/* Global styling */
body {
  font-family: 'Poiret One', sans-serif;
  scroll-behavior: smooth;
}

/* Hot Section font */
.hot-section {
  font-family: 'Poiret One', sans-serif;
}


/* Navbar */
/* .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(30, 0, 20, 0.8);
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: 'Spirax', sans-serif;
}

.links {
  display: flex;
  gap: 5rem;
}

.nav-link {
  font-size: 2rem;
  color: white;
  cursor: pointer;
} */

/* General Section Styles */
/* .section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.title {
  font-family: "Spirax", sans-serif;
  font-size: 4rem;
  color: darkred;
}

.description-box {
  background-color: darkred;
  opacity: 0.95;
  padding: 1rem 2rem;
  margin: 1rem;
  font-family: "Poiret One", sans-serif;
  font-size: 1.5rem;
}

.menu-box {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem 3rem;
  width: 50%;
  margin-top: 2rem;
}

.menu-box ul {
  list-style: none;
  padding: 0;
}

.menu-box li {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-family: 'Poiret One', sans-serif;
} */